In [2]:
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)

In [23]:
from bs4 import BeautifulSoup
import requests
url = 'https://www.graduateshotline.com/gre-word-list.html'
page = requests.get(url)
print(page)
soup = BeautifulSoup(page.text, 'lxml')

<Response [200]>

In [31]:
table = soup.find("table", class_="tablex border1")

In [30]:
import pandas as pd
words = pd.DataFrame(columns=["Word", "Meaning"])

for i in table.find_all("tr"):
  row_data = i.find_all("td")
  row = [j.text for j in row_data]
  length = len(words)
  words.loc[length] = row

words

               Word                                            Meaning
0     introspection          examining one's own thoughts and feelings
1    philanthropist                              one who loves mankind
2          antidote        medicine used against a poison or a disease
3            strive                 to make great efforts, to struggle
4      ambidextrous  able to use the left hand or the right equally...
..              ...                                                ...
257         lampoon                          publicly mock or ridicule
258            skit                   short piece of humorous writing
259     incongruous         out of place; not in harmony or agreement
260       repulsive                      causing a feeling of disgust
261          refine                      make or become pure cultural

[262 rows x 2 columns]

In [76]:
# Helper Functions
def replaceCommas(word):
  if (',' in word):
    word = word.replace(',', '')
  if (';' in word):
    word = word.replace(';', '')
  if ('/' in word):
    word = word.replace('/', ' ')
  if ('-' in word):
    word = word.replace('-', ' ')
  if ('(' in word):
    word = word.replace('(', '')
  if (')' in word):
    word = word.replace(')', '')
  
  return word

def removeArticlesAndPrepositions(meaning_list):
  dummy = ['a', 'an', 'the', 'at', 'of', 'or', 'off', 'in', 'to', 'by', 'from']
  for word in dummy:
    if word in meaning_list:
      meaning_list.remove(word)
  return meaning_list

def check(meaning, response):
  meaning = replaceCommas(meaning)
  meaning_list = meaning.split(' ')
  meaninig_list = removeArticlesAndPrepositions(meaning_list)
  response = replaceCommas(response)
  response_list = response.split(' ')

  count = 0
  for word in response_list:
    if (word in meaning_list):
      count += 1
    
  if count >= 1:
    return True
  return False

In [77]:
import random

while True:
  print("-------------------------------------------------------------------------------------------------------------------------")  
  index = random.randint(0, len(words))
  word = words.loc[index][0]
  meaning = words.loc[index][1].strip()
  print(word)
  response = input("Enter the meaning of this word: ")
  if check(response, meaning):
    print("Correct. Next One.")
  else:
    print("Wrong. This is the correct meaning.")
    print(meaning)
  
  exit = input("Continue? (y/n) ")
  if (exit == 'n'):
    break

-------------------------------------------------------------------------------------------------------------------------
agile
Enter the meaning of this word: active, quick moving
Correct. Next One.
Continue? (y/n) y
-------------------------------------------------------------------------------------------------------------------------
extralegal
Enter the meaning of this word: outside law
Correct. Next One.
Continue? (y/n) n